@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

:root {
  --astro-transition-duration: 250ms;
  --astro-transition-easing: ease-in-out;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade var(--astro-transition-duration) var(--astro-transition-easing);
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
