---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section class="space-y-4">
    <h1 class="text-4xl font-bold">Welcome to my Portfolio</h1>
    <p class="text-lg text-gray-300">
      Hi, I’m Jack. This is my portfolio showcasing my projects and skills.
    </p>
  </section>
</Layout>
